<div class="grid justify-center grow">
    <br>
      <div id={{Posts.id}} class="min-w-4/5 border-4 border-black-800 hover:shadow-lg grow">
        <h3 class = "font-black">{{Posts.title}}</h3>
        <h4 class = "text-xs">Author: {{Posts.User.username}}</h4>
        <h4 class = "text-xs">Created: {{Posts.createdAt}}</h4>
        <br />
        <p>{{Posts.content}}</p>
      </div>
      <br>
      <div>
        {{#if logged_in}}
        <textarea id="content" class = "w-4/5 border border-4 border-black-100" data-postId = {{Posts.id}} data-userId = {{user_id}}>Enter Comment Content Here </textarea>
        <button class="ml-5 px-3 py-1 rounded font-semibold bg-gray-400 hover:bg-gray-300 text-gray-800" id = "createComment">Leave Comment</button>
        {{/if}}
        <h4>Previous Comments:</h4>
        {{#each Comments as |Comment|}}
        <div class="w-4/5 border-4 border-black-400 hover:shadow-lg grow post">
            <p>{{User.username}}</p>
            <p class = "text-xs">{{createdAt}}</p>
            <p>{{content}}</p>
        </div>
        {{/each}}
      </div>
  </div>

  <script src = "/js/newComment.js"></script>